@model IEnumerable<AESManagement.AESDataService.Applicant>
<div class="btn-group">
    @Html.ActionLink("New", "UpdatePending", "Pending", new { status = "new" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Approved", "UpdatePending", "Pending", new { status = "approved" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Denied", "UpdatePending", "Pending", new { status = "denied" }, new { @class = "btn btn-default" })
</div>

    @foreach (var item in Model)
    {
        @Html.ActionLink(item.fullName, "Applicant", "Application", new { id = item.id }, null)
        <br />
    }

