
@{
    ViewBag.Title = "Applicant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="row">
                <div id="pending">Pending Applicants</div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @Html.Partial("~/Views/Application/Application.cshtml")
    </div>
</div>

<script>
    $('#pending').load('/Pending/UpdatePending');
</script>
