
@{
    ViewBag.Title = "Applicant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="row">
                <div id="pendingTitle">Pending Applicants</div>
                <div id="pending"></div>
                @Ajax.ActionLink("Click here for the Partial View", "UpdatePending", "Pending",
                    new AjaxOptions
                        {
                            UpdateTargetId = "pending",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Get"
                        })
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @Html.Partial("~/Views/Application/Application.cshtml")
    </div>
</div>

