
@{
    ViewBag.Title = "Applicant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="col-md-12">
            <div class="btn-group-justified">
                @Html.ActionLink("New", "SetSession", "Pending", new { status = "new" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Approved", "SetSession", "Pending", new { status = "approved" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Denied", "SetSession", "Pending", new { status = "denied" }, new { @class = "btn btn-default" })
            </div>
        </div>
        <br />
        <div class="panel panel-danger">
            <div class="panel panel-heading">Pending Applicants</div>
            <div class="panel panel-body">
                <p id="pending"></p>
            </div>
        </div>
   </div>
        <div class="col-md-9">
            @Html.Partial("~/Views/Application/Application.cshtml")
        </div>
    
</div>

